<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/javascript/css/style.css">
    <title>Burger Time!</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/Users/Noe/Desktop/burger-time/public/assets/javascript"></script>
</head>

<body>
    <img src="/assets/javascript/images/66632023_2366008060392794_2362047990631235584_o_a1d8a725-4039-46f7-b03f-61f570bb09a6.jpg" id="burgerImg" alt="burger">
    <canvas id="canvas"></canvas>
    {{{body}}}
    <script src="/assets/javascript/background.js"></script>
</body>

</html>