<section class="hero is-fullheight is-primary is-bold">
    <div class="hero-head">
        <div class="container">
            <h1 class="title">Eat Da Burger</h1>
        </div>
    </div>
    <div class="hero-body">
        <div class="tile is-ancestor">
            <div class="tile is-parent is-vertical is-6">
                {{#each burger}}
                {{#unless devoured}}
                <div class="tile is-child is-link">
                    <p class="bd-notification">{{burger_name}}</p>
                    <button class="devour button" data-id="{{this.id}}">Devour Me!</button>
                </div>
                {{/unless}}
                {{/each}}
            </div>
            <div class="tile is-parent is-vertical is-6">
                {{#each burger}}
                {{#if devoured}}
                <div class="tile is-child">
                    <p class="bd-notification has-background-grey-light">{{burger_name}}</p>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="hero-foot">
        <div class="field">
            <div class="control">
                <input class="input" id="burgName" type="text" placeholder="Insert Burger here">
            </div>
            <div class="control">
                <button class="button submit is-danger is-inverted" type="submit" value="Submit">Submit</button>
            </div>
            <p class="help">Enter a burger you want to eat! Then press Submit!</p>
        </div>
    </div>
</section>